/*.suo
/*/*/*.suo
/packages
**/bin/*
**/obj/
/.vs/HISNativeProject/v15/.suo
/.vs/HISNativeProject/v15/Browse.VC.db
/.vs/HISNativeProject/v15/Solution.VC.db
/.vs/YuanboChssClient.sqlite
/.vs/YuanboChssClient/v15/.suo
/.vs/YuanboChssClient/v15/Server/sqlite3/db.lock
/.vs/YuanboChssClient/v15/Server/sqlite3/storage.ide
/.vs/YuanboChssClient/v15/Server/sqlite3/storage.ide-shm
/.vs/YuanboChssClient/v15/Server/sqlite3/storage.ide-wal
/HISNativeProject.sdf
/YuanboChssClient.sln.GhostDoc.xml
/.vs
/CommonHelper/Image/*.rar
/Yuanbo.ChssClient/app.config
/*.user
*.user
/Yuanbo.ChssClient.Common/Yuanbo.ChssClient.Common.csproj.user
/HISNativeProject.sln.GhostDoc.xml
/HISNativeProject.VC.db
/关于目前项目建议.xlsx
/TestResults/b66f3d26-7731-43b8-91bd-4a1e219365a0/LIUXIAOQING_BZD22118NEW 2018-01-04 20_02_42.coverage

/Yuanbo.ChssClient/.vs/Yuanbo.ChssClient/v15/*.suo
/ControlLibs.sln.GhostDoc.xml
/Yuanbo.ChssClient.BusinessControls/*.tmp_proj
/Ksy.ChssClient.Dictionary/*.tmp_proj
/EMRClient/Sdk/PAD/demo/image/.svn
/thirdpart/Intellibox-1.3.0.0/source/IntelliBox.sln.GhostDoc.xml
/thirdpart/Intellibox-1.3.0.0/source/.vs/IntelliBox/v14/*.suo
/thirdpart/Intellibox-1.3.0.0/source/.vs/IntelliBox/v15/.suo
/thirdpart/Intellibox-1.3.0.0/source/.vs/IntelliBox/v15/Server/sqlite3/db.lock
/thirdpart/Intellibox-1.3.0.0/source/.vs/IntelliBox/v15/Server/sqlite3/storage.ide
/thirdpart/Intellibox-1.3.0.0/source/Debug/Intellibox.pdb
/thirdpart/Intellibox-1.3.0.0/source/Debug/Intellibox.xml
/thirdpart/Intellibox-1.3.0.0/source/Debug/Ksy.ChssClient.DataControler.dll
/Tools/WebSockClient/JavaWebSocket/target/JavaWebSocket/WEB-INF/lib/*.jar
/Tools/WebSockClient/JavaWebSocket/target/JavaWebSocket/WEB-INF/classes/ActiveMq/*.class
/Tools/WebSockClient/JavaWebSocket/target/JavaWebSocket/WEB-INF/classes/Helper/*.class
/Tools/WebSockClient/JavaWebSocket/target/classes/ActiveMq/*.class
*.class
/YuanboChssClient.sln.GhostDoc.user.dic
*.chm
*.suo
/thirdpart/Intellibox-1.3.0.0/source/Debug
/Bins/Debug
/Projects/.vs/ClientTests/v15/Server/sqlite3/*.lock
/Projects/.vs/ClientTests/v15/Server/sqlite3
/Projects/Ksy.Client.All/.vs/Ksy.Client.All/v15/Server/sqlite3
/References/Local/*.pdb
/Projects/.vs/Ksy.Client.All/v15/Server/sqlite3/*.ide
/Projects/.vs/Ksy.Client.All/v15/Server/sqlite3/*.lock
/Projects/.vs/Ksy.Client.All/v15/Server/sqlite3/*.ide-shm
/Projects/.vs/Ksy.Client.All/v15/Server/sqlite3/*.ide-wal
/References/Lib/*.pdb
/Projects/.vs/Ksy.Client.ReferenceLib/v15/Server/sqlite3
/IPC.HIS/*.user
/IPC.HIS/*.user
/References/Local
/Yuanbo.ChssClient.OutFeeManager/*.TMP
/Ksy.ChssClient.YBClient/Ksy.ChssClient.YBClient.XianTao/*.TMP
/Commons/Reporter/FastReport.Core/*.TMP
/Commons/CommonHelper/*.TMP
/Themes/KSHIS.Theme/*.TMP
*.TMP
*.lock
*.ide
/Projects/UpgradeLog.htm
/Projects/UpgradeLog2.htm
*.ide-wal
*.ide-shm
*.pdb
/build.exe.config
/Packs/HaaS_2.5.22.5_0723.1308.exe
/Packs/Publishes
/Projects/.vs/Ksy.Client.All/DesignTimeBuild/*.dtbcache
/Projects/.vs
/Ksy.ChssClient.YBClient/Ksy.ChssClient.YBClient.JiLinNH/*.user
/Ksy.ChssClient.YBClient/Ksy.ChssClient.YBClient.WuHu/Ksy.ChssClient.YBClient.WuHu_yfukhurd_wpftmp.csproj
/Ksy.ChssClient.Dictionary/Ksy.Client.Dictionary_uwgmtuz1_wpftmp.csproj
/Ksy.ChssClient.PowerManager/Ksy.Client.Moudle.PowerManager_anta3nu1_wpftmp.csproj
/Ksy.ChssClient.Dictionary/Ksy.Client.Dictionary_yam3p0ex_wpftmp.csproj
/Tools/ZDMappings
/Bins
/Ksy.ChssClient.Dictionary/Ksy.Client.Dictionary_myh4v0pi_wpftmp.csproj
/Ksy.ChssClient.DataGatherViewer/Ksy.Client.DataGatherViewer_m3uhjvep_wpftmp.csproj
/Ksy.ChssClient.YBClient/Ksy.ChssClient.YBClient.JiLinNH/Ksy.ChssClient.YBClient.JiLinNH_jbwmbviq_wpftmp.csproj
/Modules/Ksy.Module.EMR/Ksy.Module.EMR.WPFEditor/Ksy.Module.EMR.WPFEditor_ga3soe33_wpftmp.csproj
/Yuanbo.ChssClient.CommonManagement/Yuanbo.ChssClient.CommonManagement_tkr4yhi3_wpftmp.csproj
/Yuanbo.ChssClient.RightsManage/Yuanbo.ChssClient.RightsManage_rdmme4ih_wpftmp.csproj
/Yuanbo.ChssClient.SysConfig/Ksy.Client.Common.SysConfig_ckumttkq_wpftmp.csproj
/References/Lib/GlowWindow.g.i.cs
/References/Lib/*.cache
/References/Lib/GeneratedInternalTypeHelper.g.i.cs
/References/Lib/RevealImage.g.i.cs
/References/Lib/Themes/Dialogs/InputDialog.g.i.cs
/References/Lib/Themes/Dialogs/LoginDialog.g.i.cs
/References/Lib/Themes/Dialogs/MessageDialog.g.i.cs
/References/Lib/Themes/Dialogs/ProgressDialog.g.i.cs
/References/Lib/Themes/MetroNavigationWindow.g.i.cs
/Ksy.ChssClient.YBClient/Ksy.ChssClient.YBClient.JiLinNH/Ksy.ChssClient.YBClient.JiLinNH_uuwncbij_wpftmp.csproj
/Yuanbo.ChssClient.RightsManage/Yuanbo.ChssClient.RightsManage_evzeuren_wpftmp.csproj
/Yuanbo.ChssClient.YaoKu/Ksy.Client.Moudle.YaoKu_fvt4fv2v_wpftmp.csproj
/Yuanbo.ChssClient.InPatient/Yuanbo.ChssClient.InPatient_y1tjlu4c_wpftmp.csproj
/Yuanbo.ChssClient.YaoKu/Ksy.Client.Moudle.YaoKu_arclsiea_wpftmp.csproj
/Yuanbo.ChssClient.CommonManagement/Yuanbo.ChssClient.CommonManagement_fyeyhtwm_wpftmp.csproj
/Yuanbo.ChssClient.YaoKu/Ksy.Client.Moudle.YaoKu_5px002oo_wpftmp.csproj
/Yuanbo.ChssClient.YaoKu/Ksy.Client.Moudle.YaoKu_t4sc5ipl_wpftmp.csproj
/Modules/Ksy.Module.EMR/Ksy.Module.EMR.WPFEditor/Ksy.Module.EMR.WPFEditor_qsg32fm4_wpftmp.csproj
/Tools/zlibnet.dll
/Tools/RestSharp.xml
/Tools/RestSharp.dll
/Tools/Newtonsoft.Json.xml
/Tools/Newtonsoft.Json.dll
/Tools/HDFS_Errors_Download.exe.config
/Ksy.ChssClient.YBClient/Ksy.ChssClient.YBClient.XianTao_YGT/Ksy.ChssClient.YBClient.XianTao_YGT_mzzd4rme_wpftmp.csproj
